<!DOCTYPE html>
<html>
  <head>
    <title>Bail Reform At Berkeley</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation-bar">
      <% @nav_links.each do |name, link| %>
        <%= link_to name, link, method: :get %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
